{% extends 'cars/base.html' %}

{% block content %}
<h3 class="title">Vehicle Delete</h3>
<div class="title-content">
<form method="post">{% csrf_token %}
    <p class="Q mt-5">Are you sure you want to delete this "{{ object }}" ?</p>
     <input class=" press mt-5 mx-1 btn btn-success btn-block" type="submit" value="YES" />
</form>
</div>
<a class="press mt-3 mx-1 btn btn-outline-danger btn-block" href="{% url "car_list" %}">BACK</a>

<style>
.title{
	margin-top: 20px;
	text-align: center;
	letter-spacing: 3px;
}

.title-content{
	margin-top:30px;
	text-align: center;
	color: 	#000000;
}]
 
.press{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
	border-radius: 100px;
}

.Q {
	font-size: 18px;
	font-weight: bold;
}

</style>

{% endblock %}